 nav.navbar.navbar-default {
    margin-bottom: 0;
    position: fixed;
  }
  .navbar-custom {
    background-color: #000b32;
}

/* change the brand and text color */
 .navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:rgb(180, 180, 187);


    font-weight: bold;
} 

/* change the link color */
 .navbar-custom .navbar-nav .nav-link {
    color: rgb(180, 180, 187);
    font-size: small;
    font-weight: bold;

} 

/* change the color of active or hovered links */
 .navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #b01d1d;
} 

/* for dropdown only - change the color of droodown */
 /* .navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}   */
/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 5px;
    padding: 5px;
    border: none;
    outline: none;
}

/* nav-wrap */
 #nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  position: relative;
}
.opaque { background-color: #333; }

/* hide toggle button */
 #nav-wrap > a.mobile-btn { display: none; }

ul#nav {
  min-height: 48px;
  width: auto; 

  /* center align the menu */
   text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
} 

/* Links */
 ul#nav li a { 

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
   text-decoration: none;
  text-align: left;
  color: #fff;

   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #fe6928; } 